<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<display-name>CRUD_Example</display-name>

	<servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>UserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>

	<error-page>

		<exception-type>java.lang.Exception</exception-type>

		<location>/error.jsp</location>

	</error-page>

</web-app>